<!DOCTYPE html>
<html>
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: pink;
}
</style>
</head>
<body>
  <navbar>
    <a href="register">Register</a>
    <a href="login">Login</a>
  </navbar>

<h2>HTML Table</h2>

<table>
  <tr>
    <th>Company</th>
    <th>Services</th>
    <th>Location</th>
  </tr>
  <tr>
    <td>Indian Cashew hub</td>
    <td>Manufacturing, Supply, oneline reatailer of Cashew</td>
    <td>Vizag</td>
  </tr>
  <tr>
    <td>Sri Durga Horticultural Nursery</td>
    <td>Nursery plants</td>
    <td>Kadapa</td>
  </tr>
  <tr>
   <td>Sri Global Exports And Imports</td>
   <td>All Horticultural products Supply</td>
   <td>Vizag</td>
  </tr>
  <tr>
    <td>Vijayawad Chemicals</td>
    <td>Waxes, Vitamins, Sweeteners, organica products, soup chemicals</td>
    <td>Vijayawad</td>
  </tr>
  <tr>
    <td>Laughing Bacchus Winecellars</td>
    <td>Yoshi Tannamuri</td>
    <td>Canada</td>
  </tr>
  <tr>
    <td>Magazzini Alimentari Riuniti</td>
    <td>Giovanni Rovelli</td>
    <td>Italy</td>
  </tr>
</table>
<br>
<br>
<h1>It Skills</h1>
<table>
    <tr>
        <th>Projects title</th>
        <th>Progress</th>

    </tr>
    
    <tr>
        <td>Django Project Installation in Local Server</td>
        <td>Success fully completed</td>

    </tr>
    <tr>
        <td>Django installation on Cloud(AWS...) Server</td>
        <td>Success fully completed</td>

    </tr>
    <tr>
        <td>html table in Django project</td>
        <td>Success fully completed</td>
    </tr>
</table>

</body>
</html>

