<!DOCTYPE html>
<html>
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
        <title>Login</title>
    </head>
    <body class="">
     <div class="container-fluid, text-center">
      <div>
        <div class="container-fluid">
        <h1>Sign in</h1>
        <form>
            <div class="text-left"><br>
            <div class="form-group">
              <label for="exampleInputEmail1">Email address or User ID</label>
              <input type="email"  id="exampleInputEmail1"  placeholder="Enter email or enter ID">
              <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div><br>
            <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <input type="password"  id="exampleInputPassword1" placeholder="Password">
            </div>
            <div class="form-check">
              <input type="checkbox"  id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1">Remind Me</label>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </form>
        </div>
       </div>
      </div>
    </body>
</html>